<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreserbatutako liburuak</title>
</head>
<body>
    <h1>Erreserbatutako liburuak</h1>
    <p>Esta es la página de libros reservados. Puedes personalizar este contenido según tus necesidades.</p>
    <a href="{{ external_url }}" target="_blank">Ir a la página externa de libros reservados</a>
</body>
</html>
